/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


/* add some padding back to rest of page */


/* navbar */
.navbar {
    color: var(--mushroom);
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
}

/* navigation list */
.navbar-links li {
    list-style: none;
    display: block;
    transition: 0.5s ease-in-out;
}


/*  style all a tags in nav and hover effect  */
.navbar-links a {
    color: var(--deep-red);
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}
/* expands text on link hover */
.navbar-links a:hover,
.navbar-links a:focus {
    color: black;
    letter-spacing: 15px;
    transition: 0.5s ease-in-out;
    outline: none;
}
/* makes check box invisible */
#menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
  }
  

.menu-icon {
    display: inline-block;
    width: auto;
    font-size: 4rem;
    cursor: pointer;
    color: var(--deep-red);
}
/* smooth transition when clicking links 
    and opening menu*/
.navbar-links {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    display: block;
    transition: max-height 0.6s ease-out, opacity .2s ease-in;
}
/* retracts nav menu */
#menu-toggle:checked + .menu-icon + .navbar-links {
    max-height: 500px;
    opacity: 1;
}


.navbar-links ul {
    flex-direction: column;
    background-color: var(--light-beige);
    margin: 0;
    padding: 0;
    text-align: center;
}
/* spaces nav bar items */
.navbar-links ul li {
    margin: 1rem 0;
}




/* media query for non-mobile nav bar */

@media screen and (min-width: 50rem) {

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }
    .navbar {
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar ul {
        display: flex;
    }
    
    .navbar-links ul {
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navbar-links a {
        padding: .625rem 3.125rem 0 3.125rem;
    }
      #menu-toggle + .menu-icon + .navbar-links {
        display:block;
    }
   

    
}